// Reset all css styles
@import "./vendor/_resetCss";
@import "./vendor/_variables";

// Main Styles
body {
    font-family: 'Proxima Soft', sans-serif;
    font-weight: 400;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    background-color: #fff;
    color: $black;
    width: 100%;
    box-sizing: border-box;
}

.container {
    max-width: 1192px;
    padding: 0 20px;
    margin: 0 auto;
    background: none;

    @media screen and (max-width: 1200px) {
        max-width: 90%;
    }

    @media screen and (max-width: 660px) {
        padding: 0 27px;
    }
}

section {
    .title {
        font-family: inherit;
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 44px;
        text-align: center;
        color: #000;

        @media screen and (max-width: 660px) {
            font-size: 24px;
            margin-bottom: 32px;
        }
    }
}

// Components
@import "./components/firstScreen";
@import "./components/_header";
@import "./components/buttons";
@import "./components/heroSection";
@import "./components/_features";
@import "./components/pricing";
@import "./components/_faq";
@import "./components/_footer";
