// Reset all css styles
@import "./vendor/_resetCss";
@import "./vendor/_variables";

// Main Styles
html {
    font-size: 10px;
}

body {
    font-family: $regular;
    font-style: normal;
    font-size: 10px;
    line-height: 1;
    background-color: #fff;
    color: $black;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
    background: none;
    box-sizing: border-box;

    @media screen and (max-width: 1200px) {}

    @media screen and (max-width: 660px) {
        padding: 0 27px;
    }
}

section {
    .title {
        font-family: $semibold;
        font-size: 3.6rem;
        margin-bottom: 44px;
        text-align: center;
        color: #000;

        @media screen and (max-width: 1200px) and (min-width: 320px) {
            font-size: calc(2.4rem + 12 * (100vw -320)/880);
            margin-bottom: calc(3.2rem + 10 *(100vw -320)/880);
        }
    }
}

// Components
@import "./components/firstScreen";
@import "./components/_header";
@import "./components/buttons";
@import "./components/heroSection";
@import "./components/_features";
@import "./components/pricing";
@import "./components/_faq";
@import "./components/_footer";
