// Reset all css styles
@import "./vendor/_resetCss";
@import "./vendor/_variables";

// Main Styles
body {
    font-family: 'Proxima Soft', sans-serif;
    font-weight: 400;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    background-color: #fff;
    color: $black;
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

section {
    .title {
        font-family: inherit;
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 44px;
        text-align: center;
        color: #000;
    }
}

// Components
@import "./components/firstScreen";
@import "./components/_header";
@import "./components/heroSection";
@import "./components/_features";
@import "./components/pricing";
@import "./components/_faq";
