/** Proxima Nova **/



@font-face {
    font-family: 'proxima_nova_altblack';
    src: url('./markSimonson_proximaNovaAltBlackWebfont.woff2') format('woff2'),
         url('./markSimonson_proximaNovaAltBlackWebfont.woff') format('woff'),
         url('./markSimonson_proximaNovaAltBlackWebfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'proxima_nova_altbold';
    src: url('./markSimonson_proximaNovaAltBoldWebfont.woff2') format('woff2'),
         url('./markSimonson_proximaNovaAltBoldWebfont.woff') format('woff'),
         url('./markSimonson_proximaNovaAltBoldWebfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Proxima Nova';
    src: 
         url('./markSimonson_proximaNovaAltRegularWebfont.woff') format('woff'),
         url('./markSimonson_proximaNovaAltRegularWebfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'proxima_nova_scosfthin';
    src: 
         url('./markSimonson_proximaNovaScOsfThinWebfont.woff2') format('woff2'),
         url('./markSimonson_proximaNovaScOsfThinWebfont.woff') format('woff'),
         url('./markSimonson_proximaNovaScOsfThinWebfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}




@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: 
         url('./markSimonson_proximaNovaSemiboldWebfont.woff2') format('woff2'),
         url('./markSimonson_proximaNovaSemiboldWebfont.woff') format('woff'),
         url('./markSimonson_proximaNovaSemiboldWebfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'proxima_nova_ltthin';
    src: 
         url('./markSimonson_proximaNovaThinWebfont.woff2') format('woff2'),
         url('./markSimonson_proximaNovaThinWebfont.woff') format('woff'),
         url('./markSimonson_proximaNovaThinWebfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}
