.faq {
    margin-top: 100px;
    margin-bottom: 95px;
}

.faq_items {
    margin: 0 auto;
    max-width: 882px;
    background: #FFFFFF;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.04), 0px 2.68036px 17.869px rgba(0, 0, 0, 0.0238443), 0px 0.798012px 5.32008px rgba(0, 0, 0, 0.0161557);
    border-radius: 12px;
}

.faq_item {
    border-bottom: 1px solid #f4f5f6;
    padding: 42px 52px 39px 72px;

    &:nth-child(1) {
        padding-bottom: 22px;
    }

    &:nth-child(2) {
        padding-top: 24px;
    }

    &:nth-child(3) {
        padding-top: 24px;
    }
}

.faq_item-question {
    font-family: $bold;
    font-size: 2rem;
    line-height: 1.94;
}

.faq_item-answer {
    p {
        font-family: $regular;
        font-size: 2rem;
        line-height: 27px;
    }

    p:nth-child(2) {
        margin-top: 35px;
    }
}

@media screen and (max-width: 1050px) {
    .faq_items {
        max-width: 100%;
    }
}

@media screen and (max-width: 660px) {
    .faq {
        margin-top: 62px;
        margin-bottom: 46px;
    }

    .faq_item {
        padding: 24px;
        font-size: 1.6rem;
        line-height: 1.69;
        letter-spacing: 0.6px;
    }

    .faq_item-question {
        font-size: 1.6rem;
        line-height: 1.38;
        letter-spacing: 0;
        margin-bottom: 12px;
    }

    .faq_item-answer {
        p {
            font-family: $regular;
            font-size: 1.6rem;
        }
    }
}
