.features {
    margin-bottom: 117px;

    .container {
        max-width: 882px;
    }

    ul {
        width: 100%;
        padding: 0;
        display: block;

        li {
            display: flex;
            align-items: center;
            padding: 24px 40px;
            background: #FFFFFF;
            box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.04), 0px 2.68036px 17.869px rgba(0, 0, 0, 0.0238443), 0px 0.798012px 5.32008px rgba(0, 0, 0, 0.0161557);
            border-radius: 12px;
            margin: 20px auto;

            .decor {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                background: linear-gradient(180deg, #FFAE70 0%, #F97200 3.44%);
                border-radius: 50%;
                box-shadow: inset 0px -4.41667px 8.83333px rgba(206, 98, 6, 0.51), inset 0px 6.625px 8.83333px #FFAE70, inset 0 -4.4px 8.8px 0 rgba(206, 98, 6, 0.51), 0px 14.2632074356px 27.2222232819px 0px rgba(247, 106, 29, 0.5);
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }

            .text {
                font-family: inherit;
                font-size: 20px;
                line-height: 1.94;
                letter-spacing: 1px;
                color: $black;
                margin-left: 24px;
            }
        }
    }

    @media screen and (max-width: 1050px) {
        ul {
            width: 90%;
            margin: 0 auto;

            li {
                max-width: 80%;

                .text {
                    line-height: 1.47;
                }
            }
        }
    }

    @media screen and (max-width: 660px) {
        ul {
            li {
                padding: 18px;

                .text {
                    margin-left: 18px;
                    font-size: 15px;
                }
            }
        }
    }

    @media screen and (max-width: 660px) {
        margin-bottom: 80px;
        margin-top: 18px;

        ul {
            width: 100%;
            padding: 0;
            margin: 0 auto;

            li {
                max-width: 100%;
                margin: 15px auto;
            }
        }
    }
}
