footer {
    .container {
        border-top: 1px solid $darkgrey;
        padding: 38px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .copyright {
        font-family: inherit;
        font-size: 16px;
        color: $darkgrey;

        a {
            color: $darkgrey;
            text-decoration: none;
        }
    }

    .author {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 16px;
        color: $darkgrey;

        svg {
            fill: $darkgrey;
        }

        .footer_logo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 11px;
        }
    }
}
