footer {
    .footer_container {
        width: 100%;
        border-top: 1px solid rgba($color: $darkgrey, $alpha: 0.3);
        padding: 38px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .copyright {
        font-family: inherit;
        font-size: 1.6rem;
        line-height: 1.71;
        color: $darkgrey;

        a {
            color: $darkgrey;
            text-decoration: none;
        }
    }

    .author {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.6rem;
        color: $darkgrey;

        svg {
            fill: $darkgrey;
        }

        .footer_logo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 11px;

            .svglogo_footer {
                width: 17.4px;
                height: 33.27px;
                margin-left: 12px;
            }

            .svglogo2_footer {
                width: 140.37px;
                height: 10.2px;
            }
        }
    }

    @media screen and (max-width: 1050px) {
        .footer_container {
            flex-direction: column;
            padding: 49px 0px 35px 0px;

            .author {
                margin-top: 35px;
            }
        }
    }

    @media screen and (max-width: 660px) {
        .copyright {
            text-align: center;
            font-size: 1.6rem;
        }

        .author {
            font-size: 1.4rem;
            justify-content: space-between;

            .footer_logo {
                .svglogo_footer {
                    width: 27.5px;
                }
            }
        }
    }
}
