header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

    @media screen and (max-width: 660px) {
        padding-top: 31px;
        padding-bottom: 0;
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: $bold;
        font-size: 1.88rem;
        margin-right: 2px;
        line-height: 25px;
        letter-spacing: 0.02em;
    }

    svg {
        fill: $orange;
    }
}
