.hero {
    padding-bottom: 114px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-family: $semibold;
        font-size: 4.5rem;
        letter-spacing: 0.6px;
        margin-top: 150px;
        color: #000000;
        margin-bottom: 0;
    }

    .subTitle {
        font-family: $semibold;
        font-size: 2rem;
        letter-spacing: 0.32px;
        margin-top: 18px;
        margin-bottom: 52px;
    }

    @media screen and (max-width: 320px) {
        padding-bottom: 40px;

        .title {
            font-size: 3.8rem;
            margin-top: 56px;
        }

        .subTitle {
            font-size: 1.8rem;
        }
    }

    @media screen and (max-width: 1200px) and (min-width: 321px) {
        padding-bottom: calc(4rem + 74 * (100vw -320)/880);

        .title {
            font-size: calc(3.8rem + 7 * (100vw -320)/880);
            margin-top: calc(5.6rem + 94 *(100vw -320)/880);
        }

        .subTitle {
            font-size: calc(1.8rem + 2 * (100vw -320)/880);
        }
    }

    @media screen and (max-width: 660px) {
        .title {
            line-height: 1.2;
            letter-spacing: 0.51px;
            text-align: left;
        }

        .subTitle {
            text-align: center;
            margin-bottom: 56px;
            line-height: 1.5;
            letter-spacing: 0.32px;
            text-align: left;
        }
    }
}
