.hero {
    padding-bottom: 114px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-family: inherit;
        font-size: 45px;
        font-weight: 600;
        letter-spacing: 0.6px;
        margin-top: 150px;
        color: #000000;
        margin-bottom: 0;
    }

    .subTitle {
        font-family: inherit;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.32px;
        margin-top: 18px;
        margin-bottom: 52px;
    }

    @media screen and (max-width: 660px) {
        padding-bottom: 0;

        .title {
            font-size: 38.2px;
            line-height: 1.2;
            letter-spacing: 0.51px;
            margin: 0;
            text-align: left;
        }

        .subTitle {
            font-size: 18px;
            text-align: center;
            margin-bottom: 56px;
            line-height: 1.5;
            letter-spacing: 0.32px;
            text-align: left;
        }
    }

    @media screen and (max-width: 500px) {
        // height: 80vh;
    }
}
